<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yht.mall.order.dao.OrderInfoDao">
    <select id="searchPage" resultType="com.yht.common.DO.OrderInfoDO">
        SELECT order_id, o.user_id as user_id, username,
        o.create_time as create_time, pay, total_price, freight, status, other
        FROM order_info as o LEFT JOIN mall_user as u ON o.user_id=u.user_id
        <if test="username!=null and username!='' ">
            WHERE username LIKE CONCAT("%",#{username},"%")
        </if>

    </select>
</mapper>